// Estilos de home

//NESTING

@import "../utilidades/variables";
@import "../utilidades/mixin";



body{

    font-family: "Bebas Neue";
    margin: 0;
    padding: 0;
    background-image: $imagen-principal;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: auto;
    color: $color-texto; /* Texto blanco */
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
header{
    font-family: "Bebas Neue";
    background-color: $Color-principal;
    color: $color-secundario;
    padding: 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;  
    nav{
        ul{
          list-style: none;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
        }
    }

}
nav{
    ul{
        li{
            margin: 0 10px;     
                  
            
            a{
              
                color: $color-texto;
                text-decoration: none;
                padding: 10px 20px; 
                border-radius: 5px; 
                box-shadow: 3px 3px 10px $color-negro; 
                transition: box-shadow 0.3s ease;
                :hover{
                    box-shadow: 3px 3px 15px $color-negro;

                }
            }
        }
    }
}

main{
    color: $color-texto;
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    text-align: center;
    h1{
        color: $color-texto;
    }
    section{
      display: flex;
      width: 600px;
      height: 430px;
      img{
        width: 0;
        flex-grow: 1;
        object-fit: cover;
        transition: .5s ease;
      }

    }
    section img:hover{
      width: 300px;
      opacity: 1;
      filter: contrast(120%);
    }


}

footer{
    background-color: $Color-principal;
    color: $color-secundario;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative;
    
}
img{
    max-width: 100%;
    height: auto;
}
  
  @include responsive(0, 599px) {
    header {
      padding: 30px 0;
    }
  
    main {
      img{
        width: 350px;

      }

    }
  
    nav {
      ul{
        flex-direction: row;

      }
      
    }
  
    nav {
      ul{
        li{
          margin: 10px 0;
          align-items: center;

        }
      }
      
    }
  
    main {
      padding: 50px;
      font-size: 1rem;
    }
  
    footer {
      font-size: 0.9rem;
      padding: 10px 0;
    }
  }

  @include responsive(600px, 1024px) {
    header {
      padding: 50px 0;
      margin: 0;
    }
  
    main img {
      width: 400px;
    }
  
    nav ul li {
      margin: 10px 0;
    }
  
    main {
      padding: 20px;
      font-size: 1.2rem;
    }
  
    footer {
      font-size: 1rem;
      padding: 15px 0;
    }
  }


  @include responsive(1025px) {
    header {
        height: 70px;
        text-align: center;
        padding: 1rem 0;
        nav{
          div{
            a{
              img{

                
              }
            }
          }
        }
    }
    main{
      div{
        iframe{
          max-height: 600px;
          
        }
      }
    }
  
    nav ul li {
      margin: 0 20px;
    }
  
    main {
      padding: 20px;
      font-size: 1.4rem;
    }
  
    footer {
      padding: 20px 0;
      font-size: 1.1rem;
    }
  }


