$imagen-principal: url(https://waifu2x.booru.pics/outfiles/dd71b92f747475e3d21b43185e3cd84d06344a33_s2_n2_y1.jpg);
$Color-principal: #003373;
$color-secundario: yellow;
$color-texto: whitesmoke;
$color-negro: rgb(0, 0, 7);
