$imagen-principal: url(https://e0.pxfuel.com/wallpapers/559/9/desktop-wallpaper-boca-juniors-creative-3d-logo-blue.jpg);
$Color-principal: #003373;
$color-secundario: yellow;
$color-texto: yellow;
$color-negro: rgb(0, 0, 7);
